doctype html
html
  head
    title Новый пользователь
  body
    h1 Создание пользователя
    form(action="/users" method="POST")
      label Имя:
      input(type="text" name="name" required)
      br
      label Email:
      input(type="email" name="email" required)
      br
      button(type="submit") Сохранить
    a(href="/users") Назад